# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unused / for testing only
cv/old/
data/
translation/
model/old/
datasets/
tmp/
third_party/agenthive/
third_party/free-mujoco-py/
third_party/hand_object_detector/
third_party/imaginaire/
third_party/metaworld/
third_party/mjrl/
third_party/r3m/
third_party/robohive/