[submodule "third_party/detectron2"]
	path = third_party/detectron2
	url = git@github.com:jackhhao/detectron2.git
[submodule "third_party/Detic"]
	path = third_party/Detic
	url = git@github.com:jackhhao/Detic.git
[submodule "third_party/FastSAM"]
	path = third_party/FastSAM
	url = git@github.com:mimic-labs/FastSAM.git
